<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flutter_application_1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
				<key>dateExpires</key>
				<string>08/01/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54106608867B928439FF36462E175EDB4E69FBD9</string>
						<key>dateExpires</key>
						<string>08/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>99US6YKRWV</string>
						<key>name</key>
						<string>Jacques Tsang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>99US6YKRWV.com.company.letsang</string>
				<key>com.apple.developer.team-identifier</key>
				<string>99US6YKRWV</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>99US6YKRWV.com.company.letsang</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>998a5e0b-c432-4142-87e3-44664fb81dfd</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.company.letsang</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>99US6YKRWV</string>
				<key>name</key>
				<string>Jacques Tsang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
